@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap");

:root{
  --redondeo: 1.5rem;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Caveat", cursive;
}

.ficha {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "encabezado-ficha"
    "actividades-ficha"
    "estados-ficha";
  width: 500px;
  background-color: #fc0000;
}

.encabezado-ficha {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "nombre-estudiante nombre-estudiante fotografia"
    "enlaces enlaces fotografia";
  grid-area: encabezado-ficha;
  background-color: #0452fc;
  border-radius: var(--redondeo);
}

.nombre-estudiante {
  grid-area: nombre-estudiante;
}

.enlaces {
  grid-area: enlaces;
  background-color: #51ff00;
  border-radius: var(--redondeo);
}

.redes {
  display: flex;
  flex-direction: column;
}

.fotografia {
  grid-area: fotografia;
}

img{
  width: 100%;
  border-radius: 5rem;
}

.actividades-ficha {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "titulo-actividades"
    "encabezado-actividades"
    "estado-actividades";
  grid-area: actividades-ficha;
  background-color: #4c00ff;
  border-radius: var(--redondeo);
}

.titulo-actividades {
  grid-area: titulo-actividades;
}

.encabezado-actividades {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "item nombre estadouiux estadodev";
  grid-area: encabezado-actividades;
}

.item {
  grid-area: item;
}

.nombre {
  grid-area: nombre;
}

.estadouiux {
  grid-area: estadouiux;
}

.estadodev {
  grid-area: estadodev;
}

.estado-actividades {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "nro enlace porcentajeuiux porcentajedev";
  grid-area: estado-actividades;
}

.nro {
  grid-area: nro;
}

.enlace {
  grid-area: enlace;
}

.porcentajeuiux {
  grid-area: porcentajeuiux;
}

.porcentajedev {
  grid-area: porcentajedev;
}

.estados-ficha {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "estadohtml estadocss estadojs estadoui estadoux total";
  grid-area: estados-ficha;
  background-color: #00fff2;
  border-radius: var(--redondeo);
}

.estadohtml {
  grid-area: estadohtml;
}

.estadocss {
  grid-area: estadocss;
}

.estadojs {
  grid-area: estadojs;
}

.estadoui {
  grid-area: estadoui;
}

.estadoux {
  grid-area: estadoux;
}

.total {
  grid-area: total;
}
